html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

#container {
    position: relative;
    width: 990px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}
    #left {
        position: relative;
        width: 450px;
        float: left;
        margin-right: 45px;
    }

        #S0 {
            position: relative;
            width: 380px;
            clear: both;
            margin: 10px 25px;
            padding: 0 10px 10px 10px;
            border: 1px solid #000;
        }

        #S1 {
            position: relative;
            width: 380px;
            clear: both;
            margin: 10px 25px;
            padding: 0 10px 10px 10px;
            border: 1px solid #000;
        }

    #right {
        position: relative;
        width: 450px;
        float: left;
    }

        #S2 {
            position: relative;
            width: 380px;
            clear: both;
            margin: 10px 25px;
            padding: 0 10px 10px 10px;
            border: 1px solid #000;
        }

        #S3 {
            position: relative;
            width: 380px;
            clear: both;
            margin: 10px 25px;
            padding: 0 10px 10px 10px;
            border: 1px solid #000;
        }

        #S4 {
            position: relative;
            width: 380px;
            clear: both;
            margin: 10px 25px;
            padding: 0 10px 10px 10px;
            border: 1px solid #000;
        }

            table#followingUsers {
                position: relative;
                width: 380px;
                border: 1px solid #000;
            }

                tr.odd {
                    background-color: #CCC;
                    text-align: center;
                }
                tr.even {
                    text-align: center;
                }