/* 
    Document   : global
    Created on : 8-feb-2011, 10:46:03
    Author     : Jurgen
    Description:
        Purpose of the stylesheet follows.
*/

/*root { display:block; }*/
body { font-family:Tahoma; color:#123456; font-size:0.8em; margin-top:5px; margin-bottom:0; }
h1 { font-size:30px; }
h2 { font-size:15px; margin:0; padding:0; }
p { margin:0; padding:0; }
a { color:#123456; }

#wrapper { position:relative; margin:0 auto; width:768px; min-height:608px; }

#leftpane { position:absolute; width:250px; top:100px; left:0px; }
#leftpane #about { height:50px; margin-bottom:10px; border:#cccccc solid 1px; }
#leftpane #pictures { height:150px; margin-bottom:10px; border:#cccccc solid 1px; }
#leftpane #friends { height:200px; margin-bottom:10px; border:#cccccc solid 1px; }

#rightpane { position:absolute; height:200px; width:450px; top:100px; left:260px; }
#rightpane .post { margin-bottom:10px; }
#rightpane .post .comment { margin-left:50px; padding-top:5px; padding-bottom:5px; margin-bottom:5px; margin-top:5px; border:#cccccc solid 1px; }

#indexlink { position:absolute; top:0px; left:600px; color:#123456; }
#adminpane { position:absolute; width:700px; top:100px; left:50px; clear:both; }
#adminpane label { display:inline-block; width:100px; vertical-align:top; }
#adminpane input { display:inline-block; width:400px; }
#adminpane textarea { display:inline-block; width:400px; }
#adminpane #posttitle { margin-bottom:10px; }
#adminpane #posttitle #labeltitle { margin-right: 10px; }
#adminpane #postbody #labelbody { margin-right: 10px; }
#adminpane #buttonpost { position:absolute; top:215px; left:550px; }
#lijntje { position:absolute; height:0px; width:95%; top:350px; border:#cccccc solid 1px; }

#editpane { position:absolute; top:375px; left:0px; }
#editpane .post { margin-bottom:10px; }
#editpane .post .edittitle { min-width:200px; display:inline-block; }
#editpane .post .editdate { min-width:400px; display:inline-block; }
#editpane .post .editpost { min-width:50px; display:inline-block; }
#editpane .post .deletepost { min-width:50px; display:inline-block; }
